.empty-cart {
  text-align: center;
}
span{
  background-color: #2766CC;
  padding: .5rem .8rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  margin-left: .7rem;
}
.cartmedia img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.cart-container{
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* border-bottom: 1px solid #828282; */
}
.cartcontent{
  max-width: 150px;
}
.productname{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: blue;
  -webkit-box-orient: vertical;
  margin: .5rem 0;
}
.cart-quantity{
  display: flex;
  border: 2px solid #2766CC;
  /* border-bottom: 2px solid #2766CC; */
  width: 3.4rem;
}

.cart-quantity p{
  padding: .2rem .45rem;
}
.btn-quantity{
  border: none;
  background-color: rgba(0, 0, 90, 0.2);
  padding: 0 .25rem;
  cursor: pointer;
outline: none;
}
.cart-remove {
  display: flex;
  margin: .5rem 0 1.7rem 0;
  justify-content: flex-end;
}
.cart-subtotal{
  padding-top: 1.5rem;
  text-align: end;
}
.cartDetials{
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

.btn-empty{
color: red;
background-color: transparent;
outline: none;
border: 1px solid red;
border-radius: 8px;
text-transform: capitalize;
cursor: pointer;

}
.btn-checkout{
  color: #fff;
  background-color: #2766CC;
  text-transform: capitalize;
  outline: none;
  border: 1px solid #2766CC;
  border-radius: 8px;
  cursor: pointer;
}
.btn-home:hover{
  background-color: #f0cd08 !important;
}
@media (min-width:720px) {
  .category-title {
   display: none;
}
}