.empty-cart {
  text-align: center;
}
span{
  background-color: #2766CC;
  padding: .5rem .8rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  margin-left: .7rem;
}
.cartmedia img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.cart-container{
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.cartcontent{
  max-width: 150px;
}
.productname{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: blue;
  -webkit-box-orient: vertical;
  margin: .5rem 0;
}
.cart-quantity{
  display: flex;
  border: 2px solid #2766CC;
  border-radius: 5px;
  width: 3.4rem;
}

.cart-quantity p{
  padding: .2rem .45rem;
}
.btn-quantity{
  border: none;
  background-color: rgba(0, 0, 90, 0.2);
  padding: 0 .25rem;
  cursor: pointer;
outline: none;
}
.cart-remove {
  display: flex;
  margin: .5rem 0 1.7rem 0;
  justify-content: flex-end;
}
.cart-subtotal{
  padding-top: 1.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartDetials{
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

.btn-empty{
color: red;
background-color: transparent;
outline: none;
border: 1px solid red;
border-radius: 8px;
text-transform: capitalize;
cursor: pointer;
margin-left: .9rem;


}
.btn-checkout{
  color: #fff;
  background-color: #2766CC;
  text-transform: capitalize;
  outline: none;
  border: 1px solid #2766CC;
  border-radius: 8px;
  cursor: pointer;
}
.btn-home:hover{
  background-color: #f0cd08 !important;
}
/* loader */
@keyframes ldio-pa08a6ii9i8 {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}.ldio-pa08a6ii9i8 div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-pa08a6ii9i8 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-pa08a6ii9i8 div:nth-child(1) {
  border-color: #f8de4b;
  animation-delay: 0s;
}
.ldio-pa08a6ii9i8 div:nth-child(2) {
  border-color: #2766cc;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-py13mrf51ab {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}
.ldio-pa08a6ii9i8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pa08a6ii9i8 div { box-sizing: content-box; }
.cart-pages-container{
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.main-cart{
  padding: 1.5rem;
}
.cart-results{
  border-top: 2px dashed #2766CC;
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}
@media (min-width:720px) {
  .category-title {
   display: none;

}
.empty-cart-container{
  grid-column: 1 /span 12;
}
.cart-pages-container{
  /* grid-template-rows: auto auto auto; */
  grid-template-rows: auto auto 1fr auto;

  grid-template-columns: repeat(12, 1fr);
}
.main-cart{
  grid-column: 1 /span 12;
  padding: 2rem 5rem;
}
.cart-results{
  grid-column: 8 / span 4;
  width: 40vw;
  padding: 0 2rem;

}
.btn-empty{
  margin-left: 0;

}
.cartcontent{
 max-width: 300px;
}
}